<div class="wrapper">
  <h1>Location</h1>
  <section class="overview">
    <div class="left-text">
      <p>
        8 Screens, Reserved Seating, Premium Concessions. The full-service bar
        features a wide variety of beer, wine and liquor including many local
        brews and film-themed cocktails.
        <a
          target="_blank"
          href="https://www.landmarktheatres.com/our-locations/x06c1-landmark-bethesda-row-cinema/"
          >Bethesda Row Cinema</a
        >
        features a mix of independent film, foreign language cinema and
        Hollywood favorites.
      </p>
      <div class="award-wrapper">
        <img
          class="landmark"
          alt="Landmark Theater logo"
          src="assets/landmark-theatre-logo.png"
        />
      </div>
    </div>
    <div class="image-holder">
      <img src="assets/bethesdarow.png" alt="Bethesda Row Cinema logo" />
    </div>
  </section>
  <hr />
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.4681717290996!2d-77.09670284223792!3d38.981810166936604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c963bc14c891%3A0x1f51c62ab29972e2!2sLandmark&#39;s%20Bethesda%20Row%20Cinema!5e0!3m2!1sen!2sus!4v1741388501608!5m2!1sen!2sus"
      width="100%"
      height="250"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      target="_blank"
      href="https://www.google.com/maps/dir//Landmark's+Bethesda+Row+Cinema,+2959+7235+Woodmont+Ave,+Bethesda,+MD+20814/@38.9818102,-77.0967028,17z/data=!3m1!5s0x89b7c97b9860fc8f:0x7edf0a3a3d6ab885!4m17!1m7!3m6!1s0x89b7c963bc14c891:0x1f51c62ab29972e2!2sLandmark's+Bethesda+Row+Cinema!8m2!3d38.9816861!4d-77.0951649!16s%2Fg%2F1tfw3ycj!4m8!1m0!1m5!1m1!1s0x89b7c963bc14c891:0x1f51c62ab29972e2!2m2!1d-77.0951649!2d38.9816861!3e3?entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D"
      >GET DIRECTIONS</a
    >
  </div>
  <h2>Getting There</h2>
  <div class="gettingthere">
    <div class="left">
      <h3>Parking</h3>
      <p>
        Free parking is available after 10pm in several nearby parking garages,
        lots, and street parking spots.
      </p>
    </div>
    <div class="vertical"></div>
    <div class="right">
      <h3>Public Transportation</h3>
      <p>Metro accessible from the Red line at the Bethesda metro stop.</p>
      <p>
        <b
          >Note: the metro closes at 1 AM on both Friday and Saturday. This is
          after the end of the show, so you will need an alternate way home.</b
        >
      </p>
    </div>
  </div>
  <div class="button-wrapper">
    <a
      class="clear-button"
      href="https://www.landmarktheatres.com/our-locations/x06c1-landmark-bethesda-row-cinema/"
      target="_blank"
      >Visit Bethesda Row Cinema's site<br />for more info</a
    >
  </div>
</div>
