@use "src/variables" as v;

a {
  color: inherit;
}

.left-text, .image-holder {
  width: 50%
}

.image-holder {
  img {
    max-width: 100%;
    padding-left: v.$large;
    box-sizing: border-box;
  }
}

.award-wrapper {
  display: flex;
  align-items: center;
}

.award {
  text-align: center;
  background-image: url("../../../assets/award.png");
  background-size: contain;
  padding: 1.8rem 2rem 1.4rem 2rem;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.award:after {
  font-size: 1rem;
  content: "2009 - 2021";
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  left: 0;
  line-height: 0;
}

.landmark {
  max-height: 128px;
  width: auto;
  padding: v.$large;
  box-sizing: border-box;
}

hr {
  border-color: v.$red;
  border-width: 0 0 2px 0;
  margin: 3rem 0 2rem 0;
}

.map {
  position: relative;
  background-color: v.$gray;
  a {
    position: absolute;
    top: v.$medium;
    right: v.$medium;
    padding: v.$small v.$medium;
    font-weight: bold;
    border: 2px solid v.$red;
    background-color: white;
    color: v.$red;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 2rem;
    &:hover, &:focus {
      background-color: v.$red;
      color: white;
    }
  }
}

h2 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 3rem;
}

h2, h3 {
  font-family: "Public Sans", sans-serif;
}

h3 {
  font-size: 1.5rem;
}

.gettingthere {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  p {
    margin-top: 0;
  }
  h3 {
    margin-bottom: v.$small;
  }
}

.left, .right {
  width: 40%;
}

.vertical {
  background-color: white;
  width: 3px;
  margin: 0 v.$large;
}

.button-wrapper {
  display: flex;
  margin: 4rem 0;
  justify-content: center;
  a {
    text-decoration: none;
    border: 3px solid white;
    text-transform: uppercase;
    text-align: center;
    padding: v.$small;
    border-radius: v.$medium;
    padding: v.$medium v.$large;
    transition: all 0.2s;
    &:focus, &:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }
}

@media only screen and (max-width: 700px) {
  .award-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .left-text, .image-holder {
    width: 100%
  }

  .image-holder {
    max-height: 300px;
    overflow: hidden;
    img {
      padding-left: 0;
    }
  }

  .gettingthere {
    flex-direction: column;
    .vertical {
      display: none;
    }
  }
  
  .left, .right {
    width: 100%;
  }
}
