.hello-wrapper {
  background-color: #2f2e2e;
  padding: 70px 100px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.inside-wrapper {
  max-width: 850px;
  margin: auto;
}

p {
  font-size: 20px;
  font-family: enriqueta, serif;
}

.head {
  text-align: center;
}

h1 {
  font-size: 56px;
  text-align: center;
  margin: 60px 0;
}

a {
  color: white;
}

.links-list {
  font-size: 18px;
  line-height: 1.8em;
}
