<div class="hello-wrapper">
  <div class="inside-wrapper">
  <p class="head">I just used a QR Code and it sent me here!</p>
  <h1>Hello Rocky Horror!</h1>
  <div class="links-list">
    <div>
      We are your Sonic Transducers, DC's Rocky Horror Shadowcast! Choose your
      own adventure:
    </div>
    <ul>
      <li>
        Our shows are every second weekend of the month, with special fancy
        shows around Halloween! If you want to look at our schedule, <a href="/calendar">click here!</a>
      </li>
      <li>If you want to join cast, <a href="/join-us">click here!</a></li>
      <li>
        If you want to buy us a shot (booze, penicillin, espresso, glamour), you
        can venmo us at <a href="https://www.paypal.com/qrcodes/venmocs/4cefe444-bf2f-4dc5-a8d0-7ddf985e7851?created=1653409990">@sonic-transducers</a>
      </li>
      <li>Follow us on Facebook <a href="https://www.facebook.com/dcrockyhorror">here!</a></li>
    </ul>
  </div>
</div>
</div>
