<div class="upper">
  <div class="name">The Sonic<br>Transducers</div>
  <div class="line"></div>
  <div class="location">
    <p>Landmark Theatres</p>
    <p>E-Street Cinema</p>
    <p>555 11th Street NW</p>
    <p>Washington, DC 20004</p>
  </div>
  <div class="line"></div>
  <div class="contact">
    <p>Tel: (202) 452-7672</p>
    <div class="social-bar">
      <img alt src="assets/facebook.png">
      <img alt src="assets/twitter.png">
      <img alt src="assets/youtube.png">
    </div>
  </div>
</div>
<div class="lower">
  © 2019 by The Sonic Transducers. Proudly created with Wix.com
</div>
