<footer *ngIf="!onLinks">
  <img
    *ngIf="onHome"
    class="frank"
    src="assets/dcfrank.jpg"
    alt="Dr. Frank N. Furter from the Rocky Horror Picture Show sits seductively in the lap of the Lincoln Memorial."
  />
  <div class="upper">
    <a href="location">
      Landmark Theatres<br />
      Bethesda Row Cinema<br />
      7235 Woodmont Avenue<br />
      Bethesda, MD 20814-2959<br />
    </a>
    <div class="socials">
      <a href="https://www.facebook.com/dcrockyhorror" target="_blank"
        ><img alt="facebook" src="assets/facebook.png"
      /></a>
      <a href="https://www.instagram.com/dcrockyhorror/" target="_blank"
        ><img alt="instagram" src="assets/instagram.png"
      /></a>
    </div>
    <div>
      sonictransducers.ad&#64;gmail.com<br />
      (202) 783-9494
    </div>
  </div>
  <div class="lower">
    <hr />
    <span>Copyright © Sonic Transducers 2022. All rights reserved.</span>
  </div>
</footer>
