<div class="upper">
  <div class="name">The Sonic<br>Transducers</div>
  <div class="line"></div>
  <div class="location">
    <p>Landmark Theatres</p>
    <p>E-Street Cinema</p>
    <p>555 11th Street NW</p>
    <p>Washington, DC 20004</p>
  </div>
  <div class="line"></div>
  <div class="contact">
    <p>Tel: (202) 452-7672</p>
    <div class="social-bar">
      <a target="_blank" href="https://www.facebook.com/dcrockyhorror/"><img alt src="assets/facebook.png"></a>
      <a target="_blank" href="https://twitter.com/DCRockyHorror"><img alt src="assets/twitter.png"></a>
      <a target="_blank" href="https://www.youtube.com/watch?v=VQabThz6BLw"><img alt src="assets/youtube.png"></a>
    </div>
  </div>
</div>
<div class="lower">
  © 2019 by The Sonic Transducers. Not created with Wix.com!
</div>
