<div class="wrapper">
  <h1>Phantom of the Paradise</h1>
  <section class="overview">
    <div class="left-text">
      <p>
        The Sonic Transducers have thrilled/chilled/fulfilled you with
        <i>The Rocky Horror Picture Show</i>. You've seen us pull our wigs off
        the shelf for <i>Hedwig and the Angry Inch</i>. Now we're selling our
        soul for Rock and Roll with <i>Phantom of the Paradise</i>!
      </p>
      <p>
        A rock musical about a rock opera with music by Paul Williams (yes, that
        Paul Williams), <i>Phantom of the Paradise</i> is what happens when you
        combine Faust and Phantom of the Opera with a splash of Frankenstein and
        then cover it all with a blanket of glitter and cocaine! This is also
        the debut movie for Jessica Harper, who later played Janet in Rocky's
        sequel, Shock Treatment!
      </p>
      <i>This show has passed.</i>
    </div>
    <div class="image-holder">
      <img src="assets/phantom.jpeg" alt="Phantom of the Paradise" />
    </div>
  </section>
</div>
