<div class="wrapper">
  <h1>Phantom of the Paradise</h1>
  <section class="overview">
    <div class="left-text">
      <p>He sold his soul for rock 'n' roll! Paul Williams wrote the acclaimed score for this musical horror classic, and stars as an evil record tycoon haunted and taunted by the disfigured composer (William Finley) he once wronged. Starring Jessica Harper (Suspiria, Shock Treatment) and Gerrit Graham (Used Cars), this hilarious send-up of the glam rock era is pure entertainment from beginning to end. Directed by Brian De Palma.</p>

      
      <p>
        Get more information on
        <a
          target="_blank"
          href="https://www.landmarktheatres.com/movies/59996-phantom-of-the-paradise/"
          >Landmark Theatre's website</a
        >.
      </p>
      <p>
        <a
          target="_blank"
          href="https://booking.landmarktheatres.com/startticketing/eee2e699-1c65-471d-b808-c9fcacae2ec7/a5647c7d-30d6-429e-8784-a0ff6cae4389"
          class="round-button"
          >Friday, March 29<sup>th</sup></a
        >
      </p>
      <p>
        <a
          target="_blank"
          href="https://booking.landmarktheatres.com/startticketing/eee2e699-1c65-471d-b808-c9fcacae2ec7/4b8d4b49-507b-44c5-8e89-e1f3597af362"
          class="round-button"
          >Saturday, March 30<sup>th</sup></a
        >
      </p>
    </div>
    <div class="image-holder">
      <img src="assets/phantom.jpeg" alt="Phantom of the Paradise" />
    </div>
  </section>
</div>
