<div *ngIf="!showDates[date]" class="wrapper">
  <h1>Calendar</h1>
  <p>We have midnight shows the second weekend of every month, as well as bonus shows at Halloween! Click any show date for a cast list and more info, or visit <a class="landmark" href="https://www.landmarktheatres.com/movies/313-the-rocky-horror-picture-show" target="_blank"><b>Landmark Cinema's website</b></a> to buy tickets now.</p>
  <a href="calendar?date=1014">1014</a>
  <a href="calendar?date=456">456</a>
</div>

<div *ngIf="showDates[date]" class="wrapper">
  {{showDates[date].date}}
</div>
