<header [ngClass]="showMobileMenu ? 'showmenu' : ''">
  <a href="/"><img src="assets/sonictransducerslogo.png" alt="Sonic Transducers logo" /></a>
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="navigate()"
    >
      Home</a
    >

    <a routerLink="/location" routerLinkActive="active-link" (click)="navigate()">Location</a>

    <a routerLink="/calendar" routerLinkActive="active-link" (click)="navigate()">Calendar</a>

    <a routerLink="/about" routerLinkActive="active-link" (click)="navigate()">About / FAQ</a>

    <a routerLink="/cast" routerLinkActive="active-link" (click)="navigate()">Cast</a>

    <a routerLink="/join-us" routerLinkActive="active-link" (click)="navigate()">Join Us</a>

    <a routerLink="/prop-guide" routerLinkActive="active-link" (click)="navigate()">Prop Guide</a>
  </nav>
</header>
<button [ngClass]="showMobileMenu ? 'showmenu' : ''" (click)="toggleMobileMenu()" aria-label="toggle menu">
  <svg height="40" width="40" id="menu-icon">
    <path class="line" id="path1" d="M10,10 L30,10" />
    <path class="line" id="path2" d="M10,20 L30,20" />
    <path class="line" id="path3" d="M10,30 L30,30" />
  </svg>
</button>
