
<nav>
  <img src="assets/sonictransducerslogo.png" alt="Sonic Transducers logo">
<div class="links">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    >
    Home</a>

  <a routerLink="/location" routerLinkActive="active-link">Location</a>

  <a routerLink="/calendar" routerLinkActive="active-link">Calendar</a>

  <a routerLink="/about" routerLinkActive="active-link">About / FAQ</a>

  <a routerLink="/cast" routerLinkActive="active-link">Cast</a>

  <a routerLink="/join-us" routerLinkActive="active-link">Join Us</a>

  <a routerLink="/prop-guide" routerLinkActive="active-link">Prop Guide</a>
</div>
</nav>
