@use 'src/variables' as v;

nav {
  img {
    height: 40px;
  }
  position: fixed;
  top: 0;
  width: calc(100% - 2 * v.$medium);
  display: flex;
  justify-content: space-between;
  padding: v.$small v.$medium;
  background-color: v.$black;
  .links {
    display: flex;
    align-items: center;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0 v.$medium;
    transition: all 0.3s;
    cursor: pointer;
    &.active-link, &:hover, &:focus {
      color: v.$red;
    }
  }
}
