<div class="wrapper">
  <h1><img alt="Sonic Transducers" src="assets/sonictransducerslogo.png"></h1>
  <p>Washington D.C.'s Rocky Horror Picture Show Shadowcast!</p>
  <section>
    <a target="_blank" href="https://www.thelincolndc.com/e/the-rocky-horror-picture-show-48th-anniversary-spectacular-tour/">HALLOWEEN SHOW with BARRY BOSTWICK and PATRICIA QUINN 💋</a>
    <a target="_blank" href="https://www.paypal.com/qrcodes/venmocs/4cefe444-bf2f-4dc5-a8d0-7ddf985e7851?created=1653409990">💰 TIP JAR</a>
    <a target="_blank" href="https://forms.gle/y1fNhtjPKBgtJf3T8">Interested in joining us? 😍</a>
    <a target="_blank" href="https://www.landmarktheatres.com/movies/313-the-rocky-horror-picture-show">🎟️ E St Cinema - Get Tickets!</a>
    <a href="/">continue to our main site ></a>
  </section>
  <footer>
    <p>FOLLOW US:</p>
    <div class="socials">
      <a href="https://www.facebook.com/dcrockyhorror" target="_blank"><img alt="facebook" src="assets/facebook.png"></a>
      <a href="https://www.instagram.com/dcrockyhorror/" target="_blank"><img alt="instagram" src="assets/instagram.png"></a>
    </div>
  </footer>
</div>
