<div class="wrapper">
  <h1><img alt="Sonic Transducers" src="assets/sonictransducerslogo.png"></h1>
  <p>Washington D.C.'s Rocky Horror Picture Show Shadowcast!</p>
  <section>
    <a target="_blank" href="https://venmo.com/code?user_id=3925319769655131718">💰 TIP JAR</a>
    <a target="_blank" href="https://forms.gle/y1fNhtjPKBgtJf3T8">Interested in joining us? 😍</a>
    <a target="_blank" href="https://www.landmarktheatres.com/movies/313-the-rocky-horror-picture-show/">🎟️ Bethesda Row Cinema - Get Tickets!</a>
    <a target="_blank" href="https://www.ticketmaster.com/the-rocky-horror-picture-show-washington-district-of-columbia-10-31-2025/event/15006295B2FD7751">🎟️ Halloween Show at Lincoln Theatre - Get Tickets!</a>
    <a href="/">continue to our main site ></a>
  </section>
  <footer>
    <p>FOLLOW US:</p>
    <div class="socials">
      <a href="https://www.facebook.com/dcrockyhorror" target="_blank"><img alt="facebook" src="assets/facebook.png"></a>
      <a href="https://www.instagram.com/dcrockyhorror/" target="_blank"><img alt="instagram" src="assets/instagram.png"></a>
    </div>
  </footer>
</div>
