@use "src/variables" as v;

h2 {
  text-align: left;
}

.left-text {
  width: 50%;
}

.image-holder {
  position: relative;
  width: 50%;
  img {
    max-width: 100%;
    padding-left: v.$large;
    box-sizing: border-box;
  }
    .image-credit {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: v.$black;
      color: v.$light-gray;
      padding: 5px 10px;
      font-size: 0.8rem;
      font-family: Arial, sans-serif;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  a {
    color: inherit;
  }
}

.open {
  .answer {
    max-height: 1000px;
  }
}

.question button {
  background-color: transparent;
  border: none;
  color: white;
  font: inherit;
  position: relative;
  margin-left: 15px;
  margin-top: v.$large;
  cursor: pointer;
  h2 {
    margin: 0;
  }
  &::after {
    content: "";
    position: absolute;
    left: -15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    top: calc(50% - 10px);
    transition: all 0.2s;
  }
}

.open button::after {
  transform: rotate(90deg);
}

.rules {
  background-color: white;
  border-left: 5px solid v.$red;
  color: v.$black;
  padding: v.$large;
  margin: v.$verylarge 0;
  line-height: 2.5rem;
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .subtext {
    text-align: center;
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .left-text {
    width: 100%;
  }

  .image-holder {
    max-height: 300px;
    overflow: hidden;
    width: 100%;
    img {
      padding-left: 0;
    }
  }

  .rules {
    padding: 1rem;
    ol {
      padding-left: 1rem;
    }
  }
}
