@use "src/variables" as v;

.wrapper {
  box-sizing: border-box;
  width: 90%;
  margin: calc(56px + 2rem) auto 4rem auto;
}

h1 {
  margin-top: 0;
}

h2 {
  text-align: left;
}

.overview {
  display: flex;
}

.left-text {
  width: 50%;
}

.image-holder {
  width: 50%;
  img {
    max-width: 100%;
    padding-left: v.$large;
    box-sizing: border-box;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  a {
    color: inherit;
  }
}

.open {
  .answer {
    max-height: 1000px;
  }
}

.question button {
  background-color: transparent;
  border: none;
  color: white;
  font: inherit;
  position: relative;
  margin-left: 15px;
  margin-top: v.$large;
  cursor: pointer;
  h2 {
    margin: 0;
  }
  &::after {
    content: "";
    position: absolute;
    left: -15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    top: calc(50% - 10px);
    transition: all 0.2s;
  }
}

.open button::after {
  transform: rotate(90deg);
}

@media only screen and (max-width: 700px) {
  h1 {
    text-align: center;
  }

  .overview {
    flex-direction: column;
  }

  .left-text {
    width: 100%;
  }
  
  .image-holder {
    max-height: 300px;
    overflow: hidden;
    width: 100%;
    img {
      padding-left: 0;
    }
  }
}
