<div class="wrapper">
  <h1>Hedwig and the angry inch</h1>
  <section class="overview">
    <div class="left-text">
      <p>You've seen us thrill and chill with <i>The Rocky Horror Picture Show</i>, but now we're pulling the wig back off the shelf to share <i>Hedwig and the Angry Inch</i>!</p>
      <p>The Sonic Transducers will give you all of the elements of a traditional shadowcast performance that you've come to love, but with bigger hair, louder music, and.... wait, is that Rosie O'Donnell?</p>
      <p><i>Hedwig and the Angry Inch</i> is a cult classic that tells the story of a genderqueer rockstar and their journey to find love and acceptance. With catchy songs, mesmerizing performances, and wigs wigs wigs, this show is sure to leave you feeling empowered and inspired. Don't miss out on this incredible performance by your favorite folks here at the Sonic Transducers! Get your tickets now and be prepared to be blown away!</p>
      <p>
        Get more information on
        <a
          target="_blank"
          href="https://www.landmarktheatres.com/movies/35372-hedwig-and-the-angry-inch"
          >Landmark Theatre's website</a
        >.
      </p>
      <p>
        <a
          target="_blank"
          href="https://booking.landmarktheatres.com/seats/eee2e699-1c65-471d-b808-c9fcacae2ec7/ac23b74d-43e7-4e4e-8c5b-c2143fa11006"
          class="round-button"
          >Friday, June 16<sup>th</sup></a
        >
      </p>
      <p>
        <a
          target="_blank"
          href="https://booking.landmarktheatres.com/seats/eee2e699-1c65-471d-b808-c9fcacae2ec7/22d4ebf8-348b-4ad2-9687-22729b543825"
          class="round-button"
          >Saturday, June 17<sup>th</sup></a
        >
      </p>
    </div>
    <div class="image-holder">
      <img src="assets/hedwig.jpg" alt="Hedwig and the Angry Inch" />
    </div>
  </section>
</div>
