<div class="wrapper">
  <h1>Join Us</h1>
  <img
    src="assets/rainy.jpg"
    alt="Shadowcast actors dressed as Brad Majors and Janet Weiss stand at the front of a movie theater in a spotlight. Janet is holding a newspaper over her head. The Rocky Horror Picture Show is playing on the screen behind them."
  />
  <p>
    Is your biggest dream to run around in a corset while pretending to be
    someone else? Have those lips been part of your dreams (or nightmares) your
    whole life? Is the sweet sound of Richard O'Brien's music the soundtrack to
    your existence? Are you over 18?
  </p>
  <p>Then come join our cast!</p>
  <p>
    You'll need to have a flexible schedule (second weekend of every month and
    occasional weeknights), work hard, pledge allegiance to the lips, and have
    fun!
  </p>
  <p>
    We are looking for both actors and tech crew! No experience is required to
    join (either Rocky Horror or theatre related). However, you will need to do
    two shows as a techie (lights, props, etc.) before becoming a full member.
    After that, you can audition for any role that interests you or keep being a
    techie behind the scenes; whatever floats your boat!
  </p>
  <p>
    If you've got questions, shoot us an email at sonictransducers.ad@gmail.com.
    If you're ready to join, fill out the form below! We are waiting with
    anticip...
  </p>
  <div class="button-wrapper">
    <a href="TEMP" target="_blank">FILL OUT OUR<br />INTEREST FORM</a>
  </div>
</div>
