$red: #E7131A;
//  #E84A43; 
// #E7131A #E3261C
$darkred: #c10e13;
$black: #000;
$gray: #303030;
$light-gray: #C9C9C9;

$small: 8px;
$medium: 16px;
$large: 24px;
$verylarge: 56px;

$small-text: 0.75rem;
$large-text: 1.25rem;
$large-text-lh: 2rem;
$very-large-text: 4rem;
