html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #000;
  color: white;
}

* {
  font:normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif
}