@use "src/variables" as v;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #000;
  color: white;
  font-family: Lato, sans-serif;
}

h1 {
  font-family: 'Public Sans', sans-serif;
  font-size: v.$very-large-text;
  margin-bottom: 0;
  color: v.$red;
 }