@use "src/variables" as v;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #000;
  color: white;
  font-family: Lato, sans-serif;
  line-height: 2rem;
  font-size: 1.1rem;
}

h1 {
  font-family: 'Public Sans', sans-serif;
  font-size: v.$very-large-text;
  line-height: v.$very-large-text;
  margin: 0;
  color: v.$red;
  text-transform: uppercase;
 }

 .wrapper {
  box-sizing: border-box;
  width: 90%;
  max-width: 800px;
  margin: calc(v.$verylarge + 2rem) auto 4rem auto;
}

.overview {
  display: flex;
}

.round-button {
  background-color: v.$red;
  padding: v.$medium v.$large;
  border-radius: 2rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  &:hover,
  &:focus {
    background-color: v.$darkred;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    text-align: center;
  }

  .overview {
    flex-direction: column;
  }
}
