@use "src/variables" as v;

.props {
  margin-top: 4rem;
}

.prop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0.5rem;
    font-size: v.$large-text;
    line-height: v.$large-text-lh;
    b {
      font-style: italic;
    }
  }
  img {
    &.left {
      margin-right: v.$medium;
    }
    &.right {
      margin-left: v.$medium;
    }
  }
}


@media only screen and (max-width: 700px) {
  .prop {
    flex-direction: column;
    div {
      order: 1;
    }
    img.left, img.right {
      margin: 0;
      order: 0;
    }
  }
}
