<div class="wrapper">
  <h1>Prop Guide</h1>
  <p>
    If you buy a prop bag from us before the show, congratulations! You get to
    throw things! Here's a detailed look at what's in your Sonic Transducers
    prop bag and how to use it. Remember, always throw props up and back,
    <b>never at the cast.</b>
  </p>
  <div class="props">
    <div class="prop">
      <img width="300"
      class="left"
        src="assets/props/newspaper.png"
        alt="Brad and Janet sing There's a Light in a screenshot from the Rocky Horror Picture Show. The accompanying prop is a newspaper."
      />
      <div>
        <h2>1.  Newspaper</h2>
        <p>
          When Brad and Janet get caught in the rain, hold up your
          <b>newspaper</b>! You're about to get wet!
        </p>
      </div>
    </div>
    <div class="prop">
      <div>
        <h2>2.  Glove</h2>
        <p>
          When Frank gives his creation speech, snap your <b>glove</b> along
          with him!
        </p>
      </div>
      <img width="300" class="right" src="assets/props/glove.png" alt="" />
    </div>
    <div class="prop">
      <img width="300" class="left" src="assets/props/noisemaker.png" alt="" />
      <div>
        <h2>3.  Noisemaker</h2>
        <p>
          When the creation speech is finished, use your <b>noisemaker</b> to
          celebrate!
        </p>
      </div>
    </div>
    <div class="prop">
      <div>
        <h2>4.  Toilet Paper</h2>
        <p>
          After Dr. Scott arrives, throw your <b>toilet paper</b> in the air
          when Brad says "Great Scott!"
        </p>
      </div>
      <img width="350" class="right" src="assets/props/tp.png" alt="" />
    </div>
    <div class="prop">
      <img width="275" class="left" src="assets/props/toast.png" alt="" />
      <div>
        <h2>5. "Toast"</h2>
        <p>
          When Frank proposes a toast, follow suit and throw your cardboard
          <b>"toast"</b> in the air!
        </p>
      </div>
    </div>
    <div class="prop">
      <div>
        <h2>6.  Birthday Hat</h2>
        <p>
          Sing Happy Birthday to Rocky! Put on your <b>birthday hat</b> when
          Frank does!
        </p>
      </div>
      <img width="300" class="right" src="assets/props/hat.png" alt="" />
    </div>
    <div class="prop">
      <img
        width="250"
        class="left"
        src="assets/props/cards.png"
        alt="Frank N Furter sings I'm Going Home in a screenshot from the Rocky Horror Picture Show. The accompanying prop is a set of playing cards."
      />
      <div>
        <h2>7.  Playing Cards</h2>
        <p>
          When Frank sings "Cards for sorrow, cards for pain", throw your
          <b>playing cards</b> in the air!
        </p>
      </div>
    </div>
  </div>
</div>
