<div class="wrapper">
  <p><a href="calendar" class="back">back to calendar</a></p>
  <h1>49th Anniversary Spectacular Tour</h1>
  <h2 class="wrap">Thursday, October 31st, 2024</h2>
  <p class="center">
    8:00pm at
    <a
      href="https://www.thelincolndc.com/e/rocky-horror-picture-show-the-49th-anniversary-spectaular-tour/"
      target="_blank"
      class="location"
    >
      The Lincoln Theatre
    </a>
  </p>

  <section class="overview">
    <img
      src="assets/spectaculartour/49promo.jpg"
      alt="The Rocky Horror Picture Show 49th Spectacular Tour"
      id="lincolnpromo"
    />
    <p>
      We've got an <em>EXTRA SPECIAL HALLOWEEN SHOW</em>! Join us at the
      historic Lincoln Theatre in Washington DC on Thursday, October 31st! Tickets are available through
      <a
        target="_blank"
        href="https://www.ticketmaster.com/rocky-horror-picture-show-the-49th-washington-district-of-columbia-10-31-2024/event/150060E9DCEE3975"
        >TicketMaster.com</a
      >,
      <a
        target="_blank"
        href="https://www.thelincolndc.com/e/rocky-horror-picture-show-the-49th-anniversary-spectaular-tour/"
        >TheLincolnDC.com</a
      >, and
      <a
        target="_blank"
        href="https://impconcerts.com/event/rocky-horror-picture-show-the-49th-anniversary-spectaular-tour/"
        >IMPConcerts.com</a
      >.
    </p>

    <a
      href="https://www.ticketmaster.com/rocky-horror-picture-show-the-49th-washington-district-of-columbia-10-31-2024/event/150060E9DCEE3975"
      target="_blank"
      class="round-button"
      ><b>BUY 49TH ANNIVERSARY SPECTACULAR TOUR TICKETS</b></a
    >
  </section>
</div>
