<div class="wrapper">
  <p><a href="calendar" class="back">back to calendar</a></p>
  <h1>48th Anniversary Spectacular Tour</h1>
  <h2 class="wrap">Tuesday October 31th, 2023</h2>
  <p class="center">
    8:00pm at
    <a
      href="https://www.thelincolndc.com/e/the-rocky-horror-picture-show-48th-anniversary-spectacular-tour/#"
      target="_blank"
      class="location"
    >
      The Lincoln Theatre
    </a>
  </p>

  <section class="overview">
    <img
      src="assets/spectaculartour/lincolndcpromo.png"
      alt="The Rocky Horror Picture Show 48th Spectacular Tour featuring Barry Bostwick and Patricia Quinn"
      id="lincolnpromo"
    />
    <p>
      We've got an <em>EXTRA SPECIAL HALLOWEEN SHOW</em>! Join us, Barry
      Bostwick (the original 'BRAD MAJORS'), and Patricia Quinn (the original
      'MAGENTA') at the historic Lincoln Theatre in Washington DC on Tuesday,
      October 31st. There will be a memorabilia display, costume contest, and of
      course, audience participation!
    </p>

    <p><i>This show has already passed.</i></p>
  </section>
</div>
