@use "src/variables" as v;

.home-wrapper {
  min-height: calc(46vw);
  margin-top: 56px;
  padding: v.$medium;
  margin-left: 5%;
  box-sizing: border-box;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  p {
    font-size: v.$large-text;
    line-height: v.$large-text-lh;
  }
}

h1 {
  margin-bottom: 2rem;
}

#lincolnpromo {
  width: 60%;
}

a {
  margin-top: v.$medium;
  color: inherit;
}

// temporary with halloween button
.round-button {
  margin-bottom: 40px;
}

@media only screen and (max-width: 700px) {
  .home-wrapper {
    min-height: auto;
    margin: 5rem auto;
    width: 90%;
    align-items: center;
    h1 {
      font-size: 12vw;
      line-height: 12vw;
    }
    p, a {
      text-align: center;
    }
    #lincolnpromo {
      width: 100%;
    }
  }
}
