<div class="home-wrapper">
  <h1>Sonic Transducers</h1>
  <p>
    We are the Sonic Transducers, Washington DC's one and only Rocky Horror
    Shadow Cast! Performing at midnight screenings of the
    <i>Rocky Horror Picture Show</i> the second weekend of every month since
    2009.
  </p>
  <!-- <a
    href="https://www.landmarktheatres.com/movies/313-the-rocky-horror-picture-show"
    target="_blank"
    class="round-button"
    ><b>BUY TICKETS NOW</b></a
  > -->
  <img
    src="assets/spectaculartour/lincolndcpromo.png"
    alt="The Rocky Horror Picture Show 48th Spectacular Tour featuring Barry Bostwick and Patricia Quinn"
    id="lincolnpromo"
  />
  <p>
    We've got an <em>EXTRA SPECIAL HALLOWEEN SHOW</em>! Join us, Barry Bostwick
    (the original 'BRAD MAJORS'), and Patricia Quinn (the original 'MAGENTA') at the
    historic Lincoln Theatre in Washington DC on Tuesday, October 31st. There
    will be a memorabilia display, costume contest, and of course, audience
    participation! Tickets are available through
    <a
      target="_blank"
      href="https://www.ticketmaster.com/the-rocky-horror-picture-show-48th-washington-district-of-columbia-10-31-2023/event/15005F2C0B956C77?_gl=1*1jwfcdy*_ga*NTkwNjk0NjY3LjE2OTQ3MDEzMTY.*_ga_2N5K4XJ2XP*MTY5NDk2MjYxMS40LjEuMTY5NDk2MzYxNS4wLjAuMA.."
      >TicketMaster.com</a
    >,
    <a
      target="_blank"
      href="https://www.thelincolndc.com/e/the-rocky-horror-picture-show-48th-anniversary-spectacular-tour/#"
      >TheLincolnDC.com</a
    >, and
    <a
      target="_blank"
      href="https://impconcerts.com/event/the-rocky-horror-picture-show-48th-anniversary-spectacular-tour/"
      >IMPConcerts.com</a
    >.
  </p>

  <a
    href="https://www.thelincolndc.com/e/the-rocky-horror-picture-show-48th-anniversary-spectacular-tour/#"
    target="_blank"
    class="round-button"
    ><b>48TH ANNIVERSARY SPECTACULAR TOUR TICKETS</b></a
  >
  <p>
    And don't worry, we've still got our regular monthly shows (and THREE extra
    October shows for Halloween!) at Landmark's E St. Cinema!
  </p>
  <a
    href="https://www.landmarktheatres.com/movies/313-the-rocky-horror-picture-show"
    target="_blank"
    class="round-button"
    ><b>LANDMARK'S E ST CINEMA TICKETS</b></a
  >
</div>
