<div class="home-wrapper">
  <h1>Sonic Transducers</h1>
  <p>
    We are the Sonic Transducers, Washington DC's one and only Rocky Horror
    Shadow Cast! Performing at midnight screenings of the
    <i>Rocky Horror Picture Show</i> the second weekend of every month since
    2009.
  </p>
  <!-- <a
    href="https://www.landmarktheatres.com/events/1880-landmark-e-street-cinema-the-rocky-horror-picture-show/"
    target="_blank"
    class="round-button"
    ><b>BUY TICKETS NOW</b></a
  > -->
  <!-- <p>
    We've got an
    <a href="/halloween"><em>EXTRA SPECIAL HALLOWEEN SHOW</em></a> coming up!
    Join us at the historic Lincoln Theatre in Washington DC on Thursday,
    October 31st. More information is available at
    <a
      target="_blank"
      href="https://www.thelincolndc.com/e/rocky-horror-picture-show-the-49th-anniversary-spectaular-tour/"
      >TheLincolnDC.com</a
    >.
  </p>
  <a
    href="https://www.ticketmaster.com/rocky-horror-picture-show-the-49th-washington-district-of-columbia-10-31-2024/event/150060E9DCEE3975"
    target="_blank"
    class="round-button"
    id="halloween-round"
    ><b>BUY HALLOWEEN SPECTACULAR TICKETS NOW</b></a
  > -->
</div>
