<div class="home-wrapper">
  <h1>Sonic Transducers</h1>
  <p>
    We are the Sonic Transducers, Washington DC's one and only Rocky Horror
    Shadow Cast! Performing at screenings of the
    <i>Rocky Horror Picture Show</i> the second weekend of every month since
    2009.
  </p>
  <p>
    At our December shows, we'll be collecting clothing donations for
    <a target="_blank" href="https://thedccenter.org/">The DC Center</a>!
  </p>
  <a
    href="https://www.landmarktheatres.com/movies/313-the-rocky-horror-picture-show/"
    target="_blank"
    class="round-button"
    ><b>BUY TICKETS NOW</b></a
  >
  <!-- <p>
    We've got a special Halloween show coming up! Join us at the historic
    <a
      target="_blank"
      href="https://www.thelincolndc.com/e/the-rocky-horror-picture-show/"
      >Lincoln Theatre</a
    >
    on Friday, October 31st.
  </p>
  <a
    href="https://www.ticketmaster.com/the-rocky-horror-picture-show-washington-district-of-columbia-10-31-2025/event/15006295B2FD7751"
    rel="noopener noreferrer"
    target="_blank"
    class="round-button"
    id="halloween-round"
    ><b>HALLOWEEN TICKETS</b></a
  > -->
</div>
